@font-face {
    font-family: 'BHS';
    src: url('../src/font/BlackHanSans-Regular.ttf');
}
@font-face {
    font-family: 'code';
    src: url('../src/font/neodgm_code.woff');
}
@font-face {
    font-family: 'jua';
    src: url('../src/font/Jua-Regular.ttf');
}
h1,h3,legend{
    font-family: "BHS";
}
body{
    display: block;
    width: 400px;
    padding: 100px;
    margin: auto;
}
fieldset{
    width: 400px;
    height: 500px;
    border: 2px solid #222;
    margin: auto;
    padding: 20px;
}
fieldset textarea{
    font-family: 'code';
    font-size: 16px;
    width: 300px;
    height: 100px;
    resize: none;
}
input,p{
    font-family: 'jua';
    padding: 1px;
    font-weight: bold;
    border: 1px solid #222;
    height: 20px;
    width: 175px;
}
.buttons{
    font-family: code;
    font-size: 15px;
    font-weight: bold;
    width: 75px;
    height: 35px;
    border: 1px solid #222;
    background-color: whitesmoke;
    border-radius: 99999999px;
}
.buttons:hover{
    color: white;
    background-color: black;
}